<header>
    <h1>
        <a id="index">Christopher Brown</a>
    </h1>

    <nav>
        <a href="#about" data-scroll-nav="0">About</a>
        <a href="#projects" data-scroll-nav="1">Projects</a>
        <a id="resume">Resume</a>
    </nav>

    <nav id="socialBtns">
        <a href="http://github.com/chrisjbrown">
            <i class="fa fa-github fa-2x"></i>
        </a>
        <a href="http://www.linkedin.com/pub/christopher-brown/11/388/725">
            <i class="fa fa-linkedin fa-2x" title="LinkedIn"></i>
        </a>
    </nav>
</header>
<div id="page">

    <section data-scroll-index="0" class="slide odd" id="about">
        <div class="wrapper">
            <h1>About Me</h1>
            <strong>My name is Christopher Brown and I'm an American Front End Developer currently living and working in Amsterdam, Netherlands</strong>
            <figure>
                <img src="images/me-courtyard.jpg" alt="juat a pic of me"/>
                <figcaption>coder, web enthusiast, bookworm.</figcaption>
            </figure>
            <p class="slide-content">
                <strong>Profile:</strong>
                I work for Casengo B.V. developing web applications using the AngularJS framework.
                Programming languages that I use almost every day are HTML, CSS, JavaScript, and Java. Other programming languages that I use a little are PHP and Node.js. Developing on the front-end side of applications is easily my favorite environment, however I do enjoy learning all kinds of new technologies. Some of the things I enjoy are coding, literary fiction, video games, movies, exercising, and traveling.
            </p>
        </div>
    </section>

    <section data-scroll-index="1" class="slide even" id="projects">
        <div class="wrapper">
            <h1>Projects</h1>
            <strong>Projects I work on in my free time.</strong>
            <ul class="slide-content">
                <li>
                    <a class="post-title" href="http://bookshelfdev.christopherjbrown.net/#/login" target="_blank">Bookshelf</a>
                    <p>
                        A side project that I've been working on is called 'Bookshelf'. It's a web application that uses the Angular framework and is built around the Google Books API. Feel free to try it out but be warned it is still actively under development.
                    </p>
                </li>
            </ul>
            <p>You can find other projects I'm working on or intersted in on my <a href="http://github.com/chrisjbrown" target="_blank">Github Page</a></p>
        </div>
    </section>
    <footer>
        <p>Website designed by © Christopher Brown, 2013. All Rights Reserved.</p>
    </footer>
</div>
