<header class="resume-header">
  <h1>
      <a id="index">Christopher Brown</a>
  </h1>

  <nav>
    <a rel="tipsy" title="Download/Print PDF" href="images/ChristopherBrown-Resume.pdf">
      <i class="fa fa-download fa-2x"></i>
    </a>
    <a href="#" id="dropboxSave" rel="tipsy" title="Download to Dropbox">
        <i class="fa fa-dropbox fa-2x"></i>
    </a>
  </nav>
</header>

<main id="resumeWrapper">
  <div id="resumePage">
    <div id="resumeContent">
      <h2>Christopher Brown, Front End Developer</h2>
      <section>
        <h3>Skills</h3>
        <div class="skills">
          <span>
            <a>Java</a>
            <a>NodeJS</a>
            <a>npm</a>
            <a>Web Services</a>
            <a>Rest</a>
            <a>HTML5</a>
            <a>CSS</a>
            <a>SaSS</a>
            <a>JavaScript</a>
            <a>jQuery</a>
            <a>AngularJS</a>
            <a>AJAX</a>
            <a>AMD</a>
            <a>Bower</a>
            <a>Grunt</a>
            <a>SCRUM</a>
            <a>Responsive Design</a>
            <a>SQL</a>
            <a>Agile Methodology</a>
            <a>Continuous Deployment</a>
            <a>Git</a>
            <a>SVN</a>
            <a>Google Analytics</a>
            <a>Mixpanel</a>
          </span>
        </div>
      </section>
      <section>
        <h3>Experience</h3>
        <div class="experience">
          <h4>
            <strong>Front End Developer</strong>
            <p>
              April 2014 – Present
              Amsterdam, Netherlands
            </p>
          </h4>
          <ul>
            <li>Develop a large scale single page application.</li>
            <li>Use latest technologies such as AngularJS, CSS3, HTML5, SASS, grunt to rewrite and improve previous front end design.</li>
            <li>Use phonegap/cordova to develop IOS and Android mobile applications.</li>
            <li>Work closely with other developers in daily scrum meetings.</li>
            <li>Review other developers code weekly to ensure code quality and that the project remains maintainable.</li>
          </ul>
        </div>
        <div class="experience">
          <h4>
            <strong>Java J2EE / Web Developer</strong>
            <p>
              January 2012 – Present
              Lorain, Ohio Macy’s Systems and Technologies
            </p>
          </h4>
          <ul>
            <li>Plan and develop large scale projects.</li>
            <li>Review work of other developers for quality assurance.</li>
            <li>Develop using client side web formats HTML, XML, CSS, and JavaScript. As well, as server-side JAVA.</li>
            <li>Updated applications to support responsive design using CSS3 and media queries.</li>
            <li>Developed and supported applications through all stages of their life cycle using IBM WebSphere 6.0 and 7.0 application servers.</li>
            <li>Database development using DB2 and MySQL.</li>
            <li>Improving code structure and architecture to make it more modular, scalable and maintainable.</li>
          </ul>
        </div>
        <div class="experience">
          <h4>
            <strong>Internship Position</strong>
            <p>
              June 2010 – August 2010 and June 2011 – August 2011
              Lorain, Ohio Macy’s Systems and Technologies
            </p>
          </h4>
          <ul>
            <li>Tasked with building a web application to catalog and view merchandise</li>
            <li>Completed this using Java, HTML, CSS, and JavaScript</li>
            <li>Had many projects, a main task was working to prepare the registers to accept payment from Android phones through near field communication</li>
            <li>Gathering business specifications, coding the register machines, testing the phones and registers, and teaching associates how to use this new technology</li>
          </ul>
        </div>
      </section>
      <section class="education">
        <h3>Education</h3>
        <strong>Bachelor’s Degree in Computer Science</strong>
        <p>
          Bowling Green State University, 2007 – 2011
          Bowling Green, Ohio
        </p>
        <br/>
        <strong>Study Abroad</strong>
        <p>
          London Metropolitan University, September 2011 – December 2011
          London, Islington
        </p>
      </section>
      <section>
        <h3>Contact</h3>
        <ul class="bullet-list">
          <li>
            <strong>Email:</strong>
            <p>chris.jos.brown@gmail.com</p>
          </li>
          <li>
            <strong>Phone:</strong>
            <p>+31 06 50 80 9450</p>
          </li>
          <li>
            <p>Currently residing in Amsterdam, Netherlands</p>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/christopher-brown/11/388/725/" target="_blank">LinkedIn</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</main>

<footer>
  <p>Website designed by © Christopher Brown, 2013. All Rights Reserved.</p>
</footer>
